body {
	text-align: justify;
	width: 960px;
	margin: auto;
}

header, footer {
border: 2px blue;
display: block;
background: #FF0000;
text-align: center;
font-family: sans-serif;
clear: both;
}

h1	{
	color:black ;
	font-size: 40px;
	font-weight: bold;
	font-family: sans-serif;

}

h2 {
	font-size: 25px;
	color: black;
	font-weight: lighter;
	font-family: sans-serif;
	text-align: center;
}

h3 {
	font-size: 15px;
	font-weight: lighter;
	font-family: sans-serif;
	color: beige;
}

section {
	border: 1px solid black;
	width: 71%;
	display: inline_block;
	float: left;
	margin: 1px;
}

article {
	background :#FF0000;
	padding: 5px;
	margin: 10px;
	background: #FF0000;
	margin-bottom: 10px;
	border: 1px solid pink;
}

article footer {
	padding: 10px;
	margin: 10px;
	color: black;
	background: silver;
	font-family: sans-serif;
	font-size: 12px;
	font-weight: lighter;
	text-align: justify;
	border: 1px solid lightblue;
}

aside {
	border: 1px solid black;
	width: 28%;
	display: inline_block;
	float: left;
	background: #FF0000;
	text-align: right;
	margin: 1px;
}

p {
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 12px;
	padding: 5px;
	margin: 10px;
	background-color:#FF8000;
}

a {
	color: black;
	padding: 5px;
	display: block;
	text-align: left;
}

time {
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 10px;
	color: black;
	padding: 20px;
	font-style: italic;
}


img {
	width: 100px;
	height: 100px;
	border: 2px solid black;
}

figure {
	
	padding: 20px;
	margin: 15px;
	text-align: center;
}

.menu	{
	border: 3px solid #FF8000 ;
	font-size: medium;
	font-family: sans-serif;
	color: black;
	background: F13E3E;

}

.menu li {
	padding: 10px;
	margin: 0px;
	background-color:#FF8000;
	display: inline-block;
	list-style: none;
	align-items: center;

}

